@charset "utf-8";

// If need, change your variables before importing Bulma
$title-color: #ff0000;

$blue: #006AF5;
$purple: #3D00F5;
$yellow: #F5E00A;
$orange: #F5A105;
$red: #f51B1F;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;900&display=swap');

@import "~bulma/bulma.sass";
@import "./node_modules/bulma/sass/components/navbar.sass";
@import "./node_modules/bulma/sass/components/card.sass";
@import "./node_modules/bulma/sass/elements/box.sass";
@import "./node_modules/bulma/sass/elements/button.sass";
@import "./node_modules/bulma/sass/grid/columns.sass";

* {
    box-sizing : border-box;
    font-family: 'Rubik';
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

@mixin radius-shadow {
    box-shadow: 4px 4px 4px rgba($color: #000000, $alpha: 0.25);
    border-radius: 15px;
    transition: box-shadow 0.5s ease-in-out;
}

@mixin pressed-button {
    box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.50);
}

@mixin center-flex {
    display: flex!important;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

@mixin horizontal-center {
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
}

@mixin widget {
    border-radius: 0 50px 50px 0 !important;
    max-width: 800px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}